In [1]:
import pandas as pd
import numpy as np
import functools

In [2]:
data = {'Temperature Day1': pd.DataFrame(np.random.randn(4,3)),'Temperature Day2':pd.DataFrame(np.random.randn(4,2))}

In [3]:
summation = lambda val1, val2: val1 + val2

In [4]:
print("The summation of 7 + 10 = ", summation(7,10))

The summation of 7 + 10 =  17

In [5]:
result = lambda x,y: x * y

In [6]:
print("Result is: ", result(4,3))

Result is:  12

In [7]:
def fahrenheit(T):
    return ((float(9)/5)*T + 32)
def celcius(T):
        return (float(5)/9)*(T-32)

In [8]:
Temp = (15.8, 25,30.5,25)

In [9]:
F = list(map(fahrenheit, Temp))

In [10]:
C = list(map(celcius, F))

In [11]:
print(F)

[60.44, 77.0, 86.9, 77.0]

In [12]:
print(C)

[15.799999999999999, 25.0, 30.500000000000004, 25.0]

In [13]:
fib = [0,1,1,2,3,5,8,13,21,34,55]

In [14]:
result = filter(lambda x: x % 2 ==0, fib)

In [15]:
for x in result:
    print(x)

0
2
8
34

In [16]:
f = lambda a,b: a if (a > b) else b

In [17]:
functools.reduce(f, [47,11,42,102,13])

102

In [18]:
functools.reduce(lambda x,y: x+y, [47,11,42,13])

113

In [19]:
a = np.array([[1,2,3],[4,5,6]])
b = np.array([[7,8,9],[10,11,12]])

In [20]:
np.add(a,b)

array([[ 8, 10, 12],
       [14, 16, 18]])

In [21]:
np.subtract(a,b)

array([[-6, -6, -6],
       [-6, -6, -6]])

## Data Cleaning and Manipulation

In [22]:
animals = ["Lions","Tiger","Bear"]
pd.Series(animals)

0    Lions
1    Tiger
2     Bear
dtype: object

In [23]:
quiz1 = {"Ahmed":75,"Omar":84,"Salwa":70}
q = pd.Series(quiz1)

In [24]:
q

Ahmed    75
Omar     84
Salwa    70
dtype: int64

In [25]:
q.loc['Ahmed']

75

In [26]:
q['Ahmed']

75

In [27]:
q.iloc[2]

70

In [28]:
q[2]

70

In [29]:
s  = pd.Series([70,90,65,25,99])

In [30]:
s

0    70
1    90
2    65
3    25
4    99
dtype: int64

In [31]:
total = 0

In [32]:
for val in s:
    total += val
print(total)

349