In [1]:
people = {
    "first":["Corey","Jane","John"],
    "last":["Schafer","Doe","Doe"],
    "email":["CoreyMSchaufer@gmail.com","JaneDoe@gmail.com","JohnDoe@gmail.com"]
}

In [2]:
import pandas as pd

In [3]:
df  = pd.DataFrame(people)

In [4]:
df

   first     last                     email
0  Corey  Schafer  CoreyMSchaufer@gmail.com
1   Jane      Doe         JaneDoe@gmail.com
2   John      Doe         JohnDoe@gmail.com

In [5]:
df['email']

0    CoreyMSchaufer@gmail.com
1           JaneDoe@gmail.com
2           JohnDoe@gmail.com
Name: email, dtype: object

In [6]:
df.email

0    CoreyMSchaufer@gmail.com
1           JaneDoe@gmail.com
2           JohnDoe@gmail.com
Name: email, dtype: object

In [7]:
df.set_index('email')

                          first     last
email
CoreyMSchaufer@gmail.com  Corey  Schafer
JaneDoe@gmail.com          Jane      Doe
JohnDoe@gmail.com          John      Doe

In [8]:
df

   first     last                     email
0  Corey  Schafer  CoreyMSchaufer@gmail.com
1   Jane      Doe         JaneDoe@gmail.com
2   John      Doe         JohnDoe@gmail.com

In [9]:
df.set_index('first')

          last                     email
first
Corey  Schafer  CoreyMSchaufer@gmail.com
Jane       Doe         JaneDoe@gmail.com
John       Doe         JohnDoe@gmail.com

In [10]:
df.set_index('email')

                          first     last
email
CoreyMSchaufer@gmail.com  Corey  Schafer
JaneDoe@gmail.com          Jane      Doe
JohnDoe@gmail.com          John      Doe

In [11]:
df

   first     last                     email
0  Corey  Schafer  CoreyMSchaufer@gmail.com
1   Jane      Doe         JaneDoe@gmail.com
2   John      Doe         JohnDoe@gmail.com

In [12]:
df.index

RangeIndex(start=0, stop=3, step=1)

In [13]:
df.loc['CoreyMSchaufer@gmail.com','last']

KeyError: 'CoreyMSchaufer@gmail.com'

In [ ]:
df.iloc[0]

In [ ]:
df.reset_index()

In [ ]:
df

In [ ]:
filt = (df['last'] == 'Doe')

In [ ]:
filt

In [ ]:
df[filt]

In [ ]:
df.loc[filt]

In [ ]:
df.loc[filt,'email']

In [ ]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [ ]:
df.loc[filt,'email']

In [ ]:
df

In [ ]:
df.columns

In [ ]:
df.columns = ['email','last_name','first_name']

In [ ]:
df

In [ ]:
df.columns = [x.lower() for x in df.columns]

In [ ]:
df

In [ ]:
df.rename(columns={'first_name':'first','last_name':'last'},inplace=True)

In [ ]:
df

In [ ]:
df.loc[2]

In [ ]:
df.loc[2] = ['JohnSmith@gmail.com','Smith','John']

In [ ]:
df

In [ ]:
def update_email(email):
    return email.upper()

In [ ]:
df['email'].apply(update_email)

In [14]:
df['first'] + ' '+ df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [15]:
df['full_name'] = df['first'] + ' '+ df['last']

In [16]:
df

   first     last                     email      full_name
0  Corey  Schafer  CoreyMSchaufer@gmail.com  Corey Schafer
1   Jane      Doe         JaneDoe@gmail.com       Jane Doe
2   John      Doe         JohnDoe@gmail.com       John Doe

In [17]:
df.drop(columns=['first','last'])

                      email      full_name
0  CoreyMSchaufer@gmail.com  Corey Schafer
1         JaneDoe@gmail.com       Jane Doe
2         JohnDoe@gmail.com       John Doe