In [1]:
import pandas as pd
import numpy as np

In [2]:
data = np.array([90,75,50,66])

In [7]:
s = pd.Series(data,index=['Bukenya Lukman','Ben Mwine','Catherine Ali','Daniel Benhard'])

In [8]:
print(s)

Bukenya Lukman    90
Ben Mwine         75
Catherine Ali     50
Daniel Benhard    66
dtype: int64

In [9]:
data = {'Ahmed' : 92, 'Ali' : 55, 'Omar' : 83}
s = pd.Series(data,index=['Ali','Ahmed','Omar'])
print (s)

Ali      55
Ahmed    92
Omar     83
dtype: int64

In [10]:
data = [['Ahmed',35],['Ali',17],['Omar',25]]
DataFrame1 = pd.DataFrame(data,columns=['Name','Age'])
print (DataFrame1)

    Name  Age
0  Ahmed   35
1    Ali   17
2   Omar   25

In [15]:
DataFrame1[2:]

   Name  Age
2  Omar   25

In [16]:
data = {'Name':['Ahmed', 'Ali', 'Omar','Salwa'],'Age':[35,17,25,30]}
dataframe2 = pd.DataFrame(data, index=[100, 101, 102, 103])
print (dataframe2)

      Name  Age
100  Ahmed   35
101    Ali   17
102   Omar   25
103  Salwa   30

In [21]:
summation=lambda val1, val2: val1 + val2

In [22]:
summation(7,10)

17